#wrapper {
    display:block;
    background:linear-gradient(60deg,lightgoldenrodyellow,goldenrod);
}
#btn {
    height: 60px;
    width: 60px;
}
textarea {
    width: 300px;
    height: 100px;
}
h3 {
    display: inline-block;
}
.textbox {
    display: inline-block;
}
form {
    width: 300px;
    display: inline-block;
    vertical-align: top;
    
}
#btn {
    padding: 30px;
    margin-left: 30px;
    background: linear-gradient(lightblue,lightgray);
    width: 140px;
    width: 148px;
    font-size: 23px;
    line-height: 4px;
    border-radius: 19px;
}
.newBox {
    width: 300px;
    height: 200px;
    background: linear-gradient(lavender, lightpink);
    display: block;
    text-align: center;
    border-radius: 20px;
}
#storage {
    display: inline-block;
    width: 325px;
    height: 700px;

}
.hiddenBox {
    display: none;
    width: 300px;
    height: 200px;
    background: linear-gradient(50deg,lightskyblue,lightseagreen);
    text-align: center;
    border-radius: 20px;
}
h4 {
    position: relative;
    top: 30px;
    line-height: 127px
}
.center {
    line-height: 130px;
}